{% load static %}

<!-- Add Program Modal -->


<!-- Add Program Modal -->
<div class="modal fade" id="addAdmissionSourseModal" tabindex="-1" role="dialog" aria-labelledby="addAdmissionSourseModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="addAdmissionSourseModalLabel">Add Admission Resourse</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addAdmissionSourseForm" action="{% url 'add_admission_sourse' %}" method="POST">
          {% csrf_token %}
          

          <!-- Dynamic Program List -->
          <div id="programList">
            <div class="row mb-3">
              <div class="col-md-12">
                <label for="admission_sourse" class="control-label">Admission Sourse</label>
                <input type="text" class="form-control" id="admission_sourse" name="admission_sourse[]" placeholder="Enter admission sourse name" required>
              </div>
              
            </div>
          </div>

          <!-- Button to add more programs -->
          <button type="button" class="btn btn-outline-secondary mb-3" id="addProgramBtn">+ Add another Resourse</button>

          <button type="submit" class="btn btn-primary mb-3">Add Admission Resourse</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>