# Python
__pycache__/
*.py[cod]
*$py.class

# Django specific
db.sqlite3
/media/
staticfiles/
/mock_interview/model_data/
*.log

# Ignore all migrations
**/migrations/*
# Except __init__.py
!**/migrations/__init__.py

# Virtual environments
venv/
env/
.venv/
ENV/

# IDEs
.vscode/
.idea/




# System
.DS_Store
Thumbs.db

# Environment / secrets
*.env
*.local
