{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin_dashboard_css.css' %}" />

{% block content %}
<div class="container-fluid py-4">
    <div style="border-bottom: 2px solid #000; padding-bottom: 8px; ">
        {% comment %} <h2>Marketing Team</h2> {% endcomment %}
        <h4>Admission Source & Reference Management</h4>

    </div>
    <div class="row g-4 justify-content-center mt-1">
        <div class="col-md-2 col-sm-6">
            <a data-bs-toggle="modal" data-bs-target="#addAdmissionSourseModal" class="text-decoration-none">
              <div class="card shadow-sm border-0 text-center hover-scale" style="background: linear-gradient(135deg, rgb(122, 8, 27), #4286f4);">
                  <div class="card-body text-warning">
                      <i class="fas fa-plus-circle" style="font-size: 2rem; color: white;"></i>
                      <h6 class="mt-2 text-white">Admission Sourse</h6>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-md-2 col-sm-6">
            <a  href="{% url 'admission_source_list' %}" class="text-decoration-none">
              <div class="card shadow-sm border-0 text-center hover-scale" style="background: linear-gradient(135deg, rgb(122, 8, 27), #4286f4);">
                  <div class="card-body text-warning">
                      <i class="fas fa-plus-circle" style="font-size: 2rem; color: white;"></i>
                      <h6 class="mt-2 text-white">Edit Admission Sourse</h6>
                  </div>
              </div>
            </a>
          </div>
          
          <div class="col-md-2 col-sm-6">
            <a data-bs-toggle="modal" data-bs-target="#addAdmissionReferneceModal" class="text-decoration-none">
              <div class="card shadow-sm border-0 text-center hover-scale" style="background: linear-gradient(135deg, rgb(122, 8, 27), #4286f4);">
                  <div class="card-body text-warning">
                      <i class="fas fa-plus-circle" style="font-size: 2rem; color: white;"></i>
                      <h6 class="mt-2 text-white">Admission Reference</h6>
                  </div>
              </div>
            </a>
          </div>  
          <div class="col-md-2 col-sm-6">
            <a  href="{% url 'admission_reference_list' %}" class="text-decoration-none">
              <div class="card shadow-sm border-0 text-center hover-scale" style="background: linear-gradient(135deg, rgb(122, 8, 27), #4286f4);">
                  <div class="card-body text-warning">
                      <i class="fas fa-plus-circle" style="font-size: 2rem; color: white;"></i>
                      <h6 class="mt-2 text-white">Edit Admission Reference</h6>
                  </div>
              </div>
            </a>
          </div>
        </div>
        
      
        
        
      </div>
    </div>
{% include 'student_management/admin/add_admission_reference.html' %}
{% include 'student_management/admin/add_admission_sourse.html' %}
{% endblock content %}