<div class="logo">
    <img src="{{ logo_url }}" alt="University of Edenberg Logo" style="max-width: 200px; height: auto;">
</div>


    <div class="header">
        <p><strong>Date:</strong>{{date}}</p>
    </div>

    <h1>UNIVERSITY OF EDENBERG</h1>

    <p>Dear <strong>{{name}}</strong></p>

    <p><strong>Re:</strong> Offer of Acceptance -- {{first_choice}} /  {{student.mode_of_study}} - {{reg_number}}</p>

    <div class="congrats">
        <p>Congratulations! We are delighted to inform you that your application for admission to the University of Edenberg (UoE) has been successful. You have been officially offered a place in the <strong>{{first_choice}}</strong> program, conducted on an  {{student.mode_of_study}} basis over a duration of <strong>four (4) years</strong>.</p>
    </div>

    <h2>Registration Details:</h2>
    <p>You are required to complete your registration either online through our official website or in person at the UoE -- Maslow Campus on 14 July 2025, between 09:00 hrs and 16:00 hrs. Kindly bring the following:</p>
    <ul>
        <li>Original academic certificates verified by concern authorities*.</li>
        <li>Initial payment of <strong>K2,000 / R1,600 / N\$1,600 / \$80 / MWK150,000 / P1,200</strong> before the registration deadline. The remaining fees may be paid in monthly installments.</li>
        <li>Please note, all payments must be made to the official University accounts provided in the accompanying payment guide.</li>
        <li>Fees are payable and NOT REFUNDABLE under any circumstances. Fees structures are enclosed herewith.</li>
        <li>Admission is subject to the minimum enrollment (quorum) for this program. If the quorum is not met, you may be offered the option to transfer to other available programs.</li>
        <li>Failure to register on the specified date or meet all conditions outlined in this offer may result in fee adjustments or withdrawal of the offer.</li>
    </ul>
    <p><em>* Verification of degree certificate by ZAQA</em></p>