{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'admin_dashboard_css.css' %}" />

{% block content %}
<div class="container-fluid py-4">
    <div style="border-bottom: 2px solid #000; padding-bottom: 8px; ">
        <h2>Create</h2>
    </div>
    <div class="row g-4 justify-content-center mt-1">
        <div class="col-md-3 col-sm-6">
            <a data-bs-toggle="modal" data-bs-target="#addpermissionModal" class="text-decoration-none"> 
              <div class="card shadow-sm border-0 text-center hover-scale d-flex align-items-center justify-content-center" 
              style="background: linear-gradient(135deg,rgb(156, 55, 71), #4286f4);border: none; height: 100px; width: 150px;">
                  <div class="card-body text-warning">
                      <i class="fas fa-lock" style="font-size: 2rem; color: white;"></i>
                      <h6 class="mt-2 text-white">Add Permission</h6>
                  </div>
              </div>
            </a>
          </div>
          
        </div> 
    </div>

</div>

{% include "learning_management_system/add_permission.html" %}
{% comment %} {% include "salary_management/deduction.html" %} {% endcomment %}

{% endblock content %}